$base-size = 16px
rupture.scale = 0 420px 600px 800px 1050px 1400px 1850px
rupture.scale-names = 'xs' 's' 'm' 'l' 'xl' 'hd'
rupture.base-font-size = $base-size

$fonts = -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", sans-serif