@import "../../vendors/flex-grid-framework"
$base-size = 16px
rupture.scale = 0 420px 600px 800px 1050px 1400px 1850px
rupture.scale-names = 'xs' 's' 'm' 'l' 'xl' 'hd'
rupture.base-font-size = $base-size
/**
 * Reset styles
 */
vwcalc(n, rate)
	(n / (rate / 100))vw
rem(n)
	(n / $base-size)rem
size(w, h = w)
	width w
	height h
$full-absolute
	position absolute
	top 0
	left 0
	size 100% 100%
*, *:after, *:before
	box-sizing border-box
*:focus
	outline none
html
	font-size $base-size
	font-family 'Roboto', sans-serif
	color black
	font-weight 400
img
	max-width 100%
ul,ol
	padding 0
	margin 0
p
	margin 0
	max-width 100%
a
	text-decoration none
	color inherit

@import "../../blocks/!(page)/*.styl"